*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Atkinson Hyperlegible Next", serif;
}

header{
    padding: 15px 0px;
    background-color: #255EE9;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.c-left-head{
    width: 20%;
}

.c-mid-head{
    width: 60%;
}

.c-right-head{
    width: 20%;
}

.content{
    border: 1px dotted black;
}

ul{
    list-style: none;
}

.header-li{
    display: inline-block;
}

/* fine header */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container-first-full{
    width: 650px;
    margin: 0 auto;
}

.c-full{
    width: 100%;
}

.c-right-main{
    width: 40%;
}

.c-left-main{
    width: 60%;
}

/* fine main */

.c-foot-left{
    width: 40%;
}

.c-foot-right{
    width: 15%;
}

.content-foot{
    border: 1px dotted white;
}

.third-full-content{
    border: 1px solid black;
}

.last-content{
    border: 1px dotted black;
}

.footer-li{
    margin-bottom: 10px;
    font-size: 15px;
}


/* utilities */

.d-flex{
    display: flex;
}

.content-center{
    align-content: center;
}

.justi-center{
    justify-content: center;
}

.justi-around{
    justify-content: space-around;
}

.justi-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.bg-goldenrog{
    background-color: goldenrod;
}

.bg-cobalto{
    background-color: #7289DA;
}

.bg-blue{
    background-color: blue;
}

.bg-lightblue{
    background-color: rgb(74, 91, 242);
}

.bg-pink{
    background-color: pink;
}

.bg-grey{
    background-color: #F6F6F6;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: black;
}

.bg-acqua{
    background-color: aqua;
}

.bg-button{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.txt-white{
    color: white;
}

.txt-cobalto{
    color: #7289DA;
}

.pd-20{
    padding: 20px;
}

.pd-5{
    padding: 5px;
}

.pdt-5{
    padding-top: 5px;
}

.pdb-20{
    padding-bottom: 15px;
}

.pdl-20{
    padding-left: 20px;
}

.pdr-20{
    padding-right: 20px;
}

.pd-last-footer{
    padding: 0 7px 0 7px;
}

.pd-last-container{
    padding: 20px 20px 0 20px;
}

.hg-250{
    height: 250px;
}

.hg-400{
    height: 400px;
}

.hg-50{
    height: 50px;
}

.my-30{
    margin-bottom: 30px;
}

.my-25{
    margin-bottom: 25px;
}

.my-5{
    margin-bottom: 5px;
}

.mx-15{
    margin: 0 10px 0 0;
}

.mx-5{
    margin-left: 5px;
}

.m-header{
    margin-top: 100px;
    margin-bottom: 100px;
}

.f-size-20{
    font-size: 20px;
}

.w-img{
    width: 100%;
}

.w-img-5{
    width: 5%;
}

h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

h3{
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
    margin-bottom: 15px;
}

button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
